@import './variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: #191919;
}

p {
  font-size:13px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-size: 24px;
}

blockquote {
  border-left: 4px solid #7ad6bb;
  padding-left: 15px;
  color: #a0a0a0;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-style: italic;
  margin: 35px 30px;
}

header {
  background-color: $green;
  position: relative;

  .navbar {
    padding: 9px 10px;
  }

  .bg {
    overflow: hidden;

    img {
      transform: scale(1.2);
      object-position: 50% 80%;
      object-fit: cover;
      height: 20vh;
      width: 100%;
    }
  }

  .avatar {
    position: absolute;
    bottom: -15px;
    margin-left: 30px;
    width: 130px;
    border-radius: 100px;
    border: 7px solid rgba(255,255,255,0.4);
    overflow: hidden;

    img {
      width: 100%;
      transform: scale(1.3);
    }
  }

  svg {
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    float:right;
    margin:0px;
  }

  li {
    float: left;
    margin: 0px 15px;

    a {
      width: 32px;
      height: 32px;
      padding: 5px;
      border-radius: 32px;
      display: block;
      text-align: center;
      transition:100ms;
      color: #fff;
      &:hover,
      &:focus,
      &:active {
        color:#efeeec;
        outline:none;
      }
    }

    .active {
      box-shadow: 0 0 0 1px #fff; // blurred-border
      
      &:hover,
      &:focus,
      &:active {
        box-shadow: 0 0 0 1px #fff;
        color:#fff;
        cursor:default;
      }
    }
  }
}

.content-container {
  margin:20px;
}

.gallery {

  .photo {
    padding: 5px;
    transition:200ms;

    img {
      object-fit: cover;
      width: 100%;
    }

    &:hover {
      transform: scale(1.03);
      z-index: 1;
    }

    &:after{
      content: "";
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      border: 8px solid rgba(255, 255, 255, 0.4);
    }
  }
}

.profile {
  border: 1px solid transparent;

  .icon-marker {
    color: #8c8c8c;
    font-size: 16px;
  }

  .user-location {
    line-height: 14px;
  }

  .profile-content {
    margin-top: 20px;
  }

  h1 {
    margin: 5px 0 0;
  }
}

.loader {
  text-align: center;
}
