@media(max-width:350px) {
  header .avatar {
    position: relative;
    margin: -40px auto 0 auto;
    bottom: auto;
  }
}

@media(max-width:767px) {
  .gallery .photo img {
    height:300px;
  }
}

@media(min-width:992px) {
  .gallery .photo img {
    height:130px;
  }
}

@media(min-width:768px) {
  .gallery .photo img {
    height:200px;
  }
}
